@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);

.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    content: " ";
}

body {
	font-family: Vollkorn, helvetica, sans serif;
	font-size: 16px;
	line-height: 1.25em;
	color: white;
	background: #3399cc;
}

a:link {
	color: white;
}

a.nav {
	text-decoration: none;

}




.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links li {
    float: left;
    margin-left: 30px;
}


#content {
	max-width: 1200px;
	width: 85%;
	margin: 60px auto;
	position: relative;
	padding-bottom: 200px;

}

#bio {
	margin-top: 140px;
	max-width: 600px;
	font-size: 32px;
	line-height: 35px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

.nav {
	font-family: FaceplateSans LV;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	display: inline;

}

.nav.name{
	font-size: 21pt;
	float:left;
}

.nav .links{
	font-size: 15pt;
	opacity: .8;
	float: right;
	position: relative;
}

#emojis {
	position: fixed;
	bottom: 0;
	margin-bottom: 60px;
	display: inline;
	margin-right: 20px;
}

#contact {
	margin-right: 15px;
	background: url(../images/emojis-22.png) ;
	height:30px;
	width:30px;
	display: inline-block;
}

#about {
	background: url(../images/emojis-23.png) ;
	height:30px;
	width:30px;
	display: inline-block;
 }

 #social {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-bottom: 60px;
	display: inline;
	margin-right: 20px;
	margin-right: 60px;
 }

 #twitter {
	background: url(../images/sm-15.png) no-repeat;
	height:40px;
	width:40px;
	display: inline-block;
	padding-left: 13px;
}

 #linkedin {
	background: url(../images/sm-16.png) no-repeat;
	height:40px;
	width:40px;
	display: inline-block;
	padding-left: 13px;
}

#dribble {
	background: url(../images/sm-17.png) no-repeat;
	height:40px;
	width:40px;
	display: inline-block;
	padding-left: 13px;
}

#behance {
	background: url(../images/sm-18.png) no-repeat;
	height:40px;
	width:40px;
	display: inline-block;
	padding-left: 13px;
}


