@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);

html {
	min-height: 100%;
	height: 100%;
}

html, body {
	margin: 0 auto;
	height: 100%;
}

.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    content: " ";
}



.frame {
	display: block;
	max-width: 1200px;
	width: 85%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 200px;
}

.group {
	padding: 60px 0;
}

#one {
	font: helvetica;
	font-size: 16px;
	line-height: 1.25em;
	color: white;
	background: #0fabe8;
	transition: all 5s ease;
}

#two {

}

.thumbnails {
	display: inline;

}

.thumb {
	padding-right: 30px;
	padding-top:30px;
	height: 300px;
	width: 500px;
	float: left;
}


.thumb1 {
	background: url(../images/thumbnail.jpg) no-repeat;
}

.thumb2 {
	background: url(../images/thumbnail.jpg) no-repeat;
}

.thumb3 {
	background: url(../images/thumbnail.jpg) no-repeat;
}

.thumb4 {
	background: url(../images/thumbnail.jpg) no-repeat;
}
a {
	color: white;
}

#bio {
	margin-top: 130px;
	max-width: 600px;
	font-size: 30px;
	line-height: 35px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

.nav {
	font-family: FaceplateSans LV;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.nav.name{
	font-size: 23pt;
	float:left;
}

.nav .links{
	font-size: 16pt;
	float: right;
	position: fixed;
	right:140px;
}
.nav a {
	text-decoration: none;
	color:white;
	opacity: .8;
	transition: all .3s ease;
}

.nav a:hover {
	opacity:1;
}

#bio a:link {
	text-decoration: none;
	border-bottom: 2.5px solid white;
}

#bio a:hover {
	border-bottom-color: white;
}

.links li {
    float: left;
    margin-left: 30px;
}


#emojis {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 40px;
	display: inline;
}

#contact {
	margin-right: 25px;
	height:30px;
	width:30px;
	display: inline-block;
}

#social {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 40px;
	display: inline;
 }

 #twitter {
	background: url(../images/sm-13.png) no-repeat;
	height:40px;
	width:40px;
	display: inline-block;
	padding-left: 13px;
}

 #linkedin {
	background: url(../images/sm-14.png) no-repeat;
	height:40px;
	width:40px;
	display: inline-block;
	padding-left: 13px;
}

#dribble {
	background: url(../images/sm-15.png) no-repeat;
	height:40px;
	width:40px;
	display: inline-block;
	padding-left: 13px;
}

#behance {
	background: url(../images/sm-16.png) no-repeat;
	height:40px;
	width:40px;
	display: inline-block;
	padding-left: 13px;
}

a.hover_effect {
  position: relative;
  text-decoration: none;
}
a.hover_effect span {display: none;}
a.hover_effect:hover span {
  display: block;
  position: absolute; 
  padding: .5em;
  content: attr(title);
  min-width: 80px;
  text-align: center;
  width: auto;
  height: auto;
  white-space: nowrap;
  top: -52px;
  left: -28px;
  background: rgba(0,0,0,.8);
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius: 3px;    
  color: white;
  font-size: .86em;
}
a.hover_effect:hover span:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: rgba(0,0,0,.8) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom: -16px;
  left:2.5em;
  }

